@import "../../styles/Variable.scss";

.register {
    width: 100%;
    height: 100vh;
    margin-top: 70px;
    padding: 2rem 2.5rem;
    background: #0e180e;

    @include breakpoint (md) {
        width: 100%;
        height: 100%;
        padding: 3rem 1rem;
    }

    &__container {
        width: 100%;
        height: 100%;
        background: #e6fcdd;
        padding: 4rem;
        border-radius: .3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        @include breakpoint (md) {
            width: 100%;
            height: 100%;
            padding: 1rem .5rem;
            flex-direction: column;
        }

        &__left {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
            gap: .8rem;
            padding: 2rem 3rem;

            @include breakpoint (md) {
                width: 100%;
                height: 100%;
                padding: 0;
            }

            h1 {
                font-family: $navLink;
                font-weight: 400;

                @include breakpoint (md) {
                    font-size: 1.5rem;
                }
            }

            &__img {
                width: 100%;
                height: 80%;
                border-radius: .3rem;
                background: linear-gradient(rgba(7, 7, 7, 0.781), rgba(5, 5, 5, 0.726)), url("../../assets/register.jpg");
                background-position: center;
                background-size: cover;
                position: relative;

                p {
                    width: 80%;
                    color: #e6fcdd;
                    font-size: 1.5rem;
                    text-align: center;
                    font-family: $navLink;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                @include breakpoint (md) {
                    width: 100%;
                    height: 50vh;
                    padding: 0;
                }
            }

          
        }

        &__right {
            width: 50%;
            height: 100%;
            padding: 1rem 4rem;
            border-radius: .2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint (md) {
                width: 100%;
                height: 100%;
                padding: .8rem;
                margin-top: 2rem;
                padding-bottom: 2rem;
            }


            &__content {
                width: 100%;
                height: 100%;
                box-shadow: 0 2px 4px 0 #0e180e, 0 1px 1px 0 #0e180e;
                padding: 2rem 2rem;
                background: #e6fcdd;
                color: #0e180e;

                @include breakpoint (md) {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    padding: .8rem;
                }

                &__form {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    @include breakpoint (md) {
                        width: 100%;
                        height: 100%;
                        gap: 0;
                    }

                    gap: 1rem;

                    &__name {
                        width: 100%;
                        height: 5rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 1rem;

                        @include breakpoint (md) {
                            width: 100%;
                            height: 10rem;
                            flex-direction: column;
                            padding: 0;
                            gap: .5rem;
                        }

                        input {
                            width: 100%;
                            height: 2rem;
                            padding: 0 .3rem;
                            outline: 0;
                            border: 1px solid #0e180e57;
                            border-radius: 0.2rem;
                            background: transparent;
                            font-size: 1rem;

                            &::placeholder {
                                color: #0e180ea4;
                            }

                            @include breakpoint (md) {
                                width: 100%;
                                height: 2rem;
                                padding: 0 .8rem;
                            }

                            &:hover {
                                border-color: #0e180e;
                            }
                        }

                        &__first {
                            width: 48%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;

                            @include breakpoint (md) {
                                width: 100%;
                                height: 100%;
                            }

                        }

                        &__last {
                            width: 48%;
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;

                            @include breakpoint (md) {
                                width: 100%;
                                height: 100%;
                            }

                        }
                    }

                    &__email {
                        width: 100%;
                        height: 5rem;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 1rem;

                        &::placeholder {
                            color: #0e180ea4;
                        }

                        @include breakpoint (md) {
                            width: 100%;
                            height: 5rem;
                            padding: 0;
                        }

                        input {
                            width: 100%;
                            height: 2rem;
                            padding: 0 .3rem;
                            outline: 0;
                            border: 1px solid #0e180e57;
                            border-radius: 0.2rem;
                            background: transparent;
                            font-size: 1rem;

                            &::placeholder {
                                color: #0e180ea4;
                            }

                            @include breakpoint (md) {
                                width: 100%;
                                height: 2rem;
                                padding: 0 .8rem;
                            }

                            &:hover {
                                border-color: #0e180e;
                            }
                        }

                    }

                    &__msg {
                        width: 100%;
                        height: 4rem;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 1rem;

                        @include breakpoint (md) {
                            width: 100%;
                            height: 5rem;
                            padding: 0;
                        }

                        input {
                            width: 100%;
                            height: 2rem;
                            padding: .3rem .3rem;
                            outline: 0;
                            background: transparent;
                            border: 1px solid #0e180e57;
                            border-radius: 0.2rem;
                            font-size: 1rem;

                            &::placeholder {
                                color: #0e180ea4;
                            }

                            @include breakpoint (md) {
                                width: 100%;
                                height: 2rem;
                                padding: .5rem .8rem;
                            }

                            &:hover {
                                border-color: #0e180e;
                            }
                        }
                    }

                    &__btn {
                        width: 100%;
                        height: 5rem;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        padding: 0 1rem;

                        @include breakpoint (md) {
                            width: 100%;
                            height: 100%;
                            padding: 0;
                        }

                        button {
                            width: 100%;
                            height: 2rem;
                            font-size: 1.1rem;
                            outline: none;
                            border-radius: .2rem;
                            border: 1px solid #0e180e;
                            background: #e6fcdd;
                            color: #0e180e;
                            transition: .5s;

                            @include breakpoint (md) {
                                width: 100%;
                                height: 2rem;
                            }

                            &:hover {
                                background: #0e180e;
                                color: #e6fcdd;
                            }
                        }
                    }

                    &__text {
                        width: 100%;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        p {
                            font-size: .9rem;
                        }

                        button {
                            text-decoration: none;
                            background: #0e180e;
                            color: #e6fcdd;
                            margin-left: .5rem;
                            font-weight: 600;
                            font-family: $navLink;
                            padding: .3rem 1rem;
                            border: 1px solid #0e180e;
                            outline: 0;
                            border-radius: .2rem;
                            transition: .5s;

                            &:hover {
                                background: #e6fcdd;
                                color: #0e180e;
                            }
                        }
                    }
                }

            }
        }

    }
}